.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow: hidden;
}

.app__title {
  margin: 0;
  font-size: 24px;
}

.app__btn-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.app__size-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.app__text {
  margin: 0;
}

.app__input-container {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 425px) {
  .app__input-container {
    flex-direction: column;
  }
}

.app__line {
  display: flex;
  flex-direction: row;
}
.app__cell {
  width: 10px;
  height: 10px;
  border: 1px solid #a7a2a2;
  box-sizing: border-box;
  cursor: crosshair;
}
@media screen and (max-width: 510px) {
  .app__cell {
    width: 6px;
    height: 6px;
  }
}

.app__cell_live {
  background-color: #000000;
}
